.Order{

border:1px solid grey;
box-shadow: 0px 2px 3px grey;
box-sizing: border-box;
margin: 2%;
padding: 5px;
text-align: left;
font-weight:bold;
}
.Order:hover{
    background-color: grey;
    border:1px solid grey;
box-shadow: 2px 1.5px 2px black;
box-sizing: border-box;
}