.Input{
    width:100%;
    padding: 10px;
    box-sizing: border-box
}

.Label{
    color:rgb(0,46,52);
    display:block;
    font-weight: bold;
    margin-bottom: 8px;
}
.InputEle{
    outline: none;
    background: white;
    font: inherit;
    padding: 6px 10px;
    box-sizing: border-box;
    

}
.InputEle:hover,.InputEle:focus{
    outline: none;
    background: #ccc;
}
.NotFilled{
    background: #EF4444;
    
}
