.burger{
    text-align :center;
    width: 350px;
    height: 300px;
    margin: auto;
    font-weight: bold;
    scroll-behavior: inherit;
    overflow: scroll;
}
@media  (max-width:300px) {
    .burger{
        width:100px;
        height:150px;
    }
} 