.ToolBar{
    position: fixed;
    width:100%;
    height:57px;
    display: flex;
    top:0;
    left: 0;

    justify-content: space-between;
    align-items: center;
    background-color: #703B09;
    z-index: 90;
    box-sizing: border-box;
    color: aliceblue
}
.ToolBar nav{
    height: 100%;
}

.Logo{
    height: 70%;
    padding: 0;
    margin: 0; 
    vertical-align: center;
    
    /* border: 5px solid red;      */
}

@media (max-width:500px){
    .Desktop{
        display: none;
    }
}