.NavigationItem{
    display: block;
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
   
}
.NavigationItem a{
    color: #8f5c2c;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    width: 100%;
    
    
}

.NavigationItem a:hover,.NavigationItem a:active,.NavigationItem a.active{
   
    color: #40a4c8;
}

@media (min-width : 500px){
    .NavigationItem{
        display: flex;
        height: 80%;
        margin: 0;
        width:auto;
        
    }
    .NavigationItem a{
        color: aliceblue;
        padding: 16px 10px;
        height: 100%;
        border-bottom: 4px solid transparent;
        
    }
    
    .NavigationItem a:hover,.NavigationItem a:active,.NavigationItem a.active{
        background: #8f5c2c;
        border-bottom: 4px solid #40a4c8;
        color: aliceblue;
    }
}
