.SideDrawer{
    height:100%;
    width:280px;
    max-width: 70%;
    background: white;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 200;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}
.Logo{
    height: 40px;
    margin-bottom: 50px;
}
@media (min-width:500px){
    .SideDrawer{
        display: none;
    }
}
.Open{
    transform: translateX(0)
}
.Close{
    transform: translateX(-100%)

}

