.ldshourglass {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .ldshourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid rgb(173, 43, 43);
    border-color: rgb(199, 40, 40) transparent rgb(199, 40, 40) transparent;
    animation: ldshourglass 1.2s infinite;
  }
  @keyframes ldshourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  