.NavigationItems{
display: flex;
margin: 0;
padding: 0;
flex-flow: column;
align-items: center;
height: 100%;
list-style: none;
}

@media (min-width:500px){
    .NavigationItems{
        flex-flow: row;
    }
}