.Auth{
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-sizing: border-box;
    border:1px solid grey;
    box-shadow: 0 2px 3px grey;
    
     
}
.Input{
    display: block;
}
@media(min-width:600px){
    .Auth{
        width:500px;
    }
}